.teamStats {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 50%;
    margin: auto;
    cursor:default;
    display:inline;
}

.stat {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: auto;
    display: inline-block;
    background-color: green;
}

.statContainer {
}


.statLabel {
    color: blue;
    position: relative;
    top: 15%;
}
.statValue {
    position: relative;
    color:white;
    top: 30%;
}
