.team {
    background: black;
    color:white;
    cursor:pointer;
    padding: 4px;
    width: 20%;
    margin: auto;
}
.team:hover {
    background-color:green;
}

.select {
    cursor: pointer;
}
